.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: var(--spacing-lr-content);
    height: 70%;
}

.box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gray-medium-color);
        padding: 10px 20px;
        border-radius: 4px;
        gap: 15px;
        transition: all 0.3s linear;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }

        h4 {
            color: #fff;
        }

        p {
            color: var(--gray-light-color);
            font-size: 13px;
        }

        > div:first-child {
            width: 35px;
            height: 35px;
            background-color: var(--blue-light-color);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 100rem;
        }

        > div:last-child {
            color: #fff;
        }
    }
    .box-ai {
        > div:first-child {
            background-color: #8c64ff;
        }
    }
}

.box-create-playlist {
    width: 565px;
    margin-top: 30px;
    background-color: var(--gray-medium-color);
    border-radius: 4px;
    padding: 20px;

    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input {
    width: 100%;
    padding: 12px 30px 12px 12px;
    border: 2px solid rgb(232, 232, 232);
    background-color: var(--gray-medium-color);
    color: var(--white-color);
    transition: border-color 0.2s ease-in-out;
    border-radius: 4px;
}

.error {
    width: 100%;
    font-size: 15px;
    color: red;
}

.btn-create {
    margin-top: 20px;
}
