.container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--control-height);
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;

    > div {
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.box-left {
    .box-left-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
        }
    }

    .box-left-info {
        margin-left: 10px;

        p:first-child {
            font-size: 16px;
            color: var(--white-color);
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p:last-child {
            font-size: 13px;
            color: var(--gray-light-color);
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                color: var(--blue-light-color);
                text-decoration: underline;
            }
        }
    }

    .box-left-control {
        flex: 1;
        color: var(--white-color);
        margin-left: 30px;
        display: flex;
        gap: 10px;

        > div {
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--gray-medium-color);
            }
        }
    }
}

.box-right {
    justify-content: flex-end;
    color: var(--white-color);

    > div:first-child {
        display: flex;
        gap: 8px;
        padding-right: 13px;
        border-right: 1px solid var(--gray-medium-color);

        > div:not(:last-child) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 100rem;
            cursor: pointer;

            &:hover {
                background-color: var(--gray-medium-color);
            }
        }

        > div:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            margin-left: 5px;
        }
    }

    > div:last-child {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        margin-left: 23px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.playlist-active {
    background-color: var(--blue-light-color) !important;
}
