@import 'normalize.css';

:root {
    --background-color: #141414;
    --popper-background-color: rgb(46, 46, 46);
    --white-color: #fff;
    --black-color: #000;
    --red-color: #ff0000;
    --green-color: #38c038;
    --turquoise-color: #02938c;
    --purple-color: rgba(51, 16, 76, 0.95);

    --cottonCandy-color: radial-gradient(
            50% 124.93% at 95.86% -10%,
            #3efad9 0,
            hsla(0, 0%, 100%, 0) 100%
        ),
        linear-gradient(91.56deg, #cf8db9 1.54%, #9100ff 98.71%);

    /*Sắc thái xanh*/
    --blue-light-color: #006aff;
    --blue-dark-color: #062144;

    /* Sắc thái xám */
    --gray-light-color: #8e8e8e;
    --gray-medium-color: rgba(255, 255, 255, 0.2);
    --gray-dark-color: rgb(19, 18, 19);

    // Màu cho các gói
    --plus-color: linear-gradient(to right, #1672f2, #66ccff);
    --premium-color: linear-gradient(to right, #18a9a2, #33dbde);

    --header-height: 70px;
    --sidebar-width: 240px;
    --control-height: 90px;
    --spacing-layout: 5px;
    --spacing-lr-content: 50px;
    --spacing-list-music: 30px;

    --font-family: 'ProximaNova', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #2f2f2f;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #6b6b6b;
}

//Fonts chữ
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
// // Chiều ngang của trang web trên giao diện pc
// .width-pc {
//     width: 1200px;
//     margin: 0 auto;
// }

//Hủy bỏ mặc định của thẻ
button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

//Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 10px;
    }

    .tippy-box[data-placement^='bottom'] .tippy-arrow::before {
        top: -8px;
    }

    overflow: hidden;
}
