.header {
    position: fixed;
    top: 0;
    left: calc(var(--sidebar-width) + 5px);
    right: 0;
    height: var(--header-height);
    background-color: var(--background-color);
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.tools {
    display: flex;
    align-items: center;
    gap: 20px;
}

// Setting
.setting {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    backdrop-filter: blur(10px);
    background-color: var(--gray-medium-color);
    color: var(--white-color);
    font-size: 16px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}
.icon-setting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// User
.user {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
}

.user > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_user {
    width: 290px;
}

.btn-login,
.btn-upgrade {
    margin: 5px 10px;
}

.container_user > div > p {
    margin: 10px 0 0 10px;
    font-weight: bold;
    color: var(--white-color);
}

.box-package {
    margin: 10px;
    box-shadow: rgb(0 0 0 / 30%) 0 0.2rem 1.2rem;
    border-radius: 10px;
    color: var(--white-color);
    padding: 10px;

    > div:first-child {
        font-weight: bold;
        display: flex;
        align-items: center;
        p {
            display: inline-block;
            font-size: 23px;
        }
        span {
            font-size: 14px;
            margin-left: 10px;
            padding: 2px 5px;
            border-radius: 4px;
        }
    }
    h5 {
        font-size: 15px;
        margin-top: 7px;
    }
    > p {
        font-size: 13px;
        margin-top: 5px;
    }
}

.btn-learn-more {
    margin-top: 14px;
}

.box-plus {
    background: var(--plus-color);
    > div:first-child {
        span {
            background-color: var(--blue-light-color);
        }
    }
}

.box-premium {
    background: var(--premium-color);
    > div:first-child {
        span {
            background-color: #02938c;
        }
    }
}

.btn-premium {
    background-color: #02938c;

    &:hover {
        background-color: #09a29b;
    }
}

.box-user-info {
    margin: 5px 10px 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
    > div:first-child {
        width: 65px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }

    > div:last-child {
        > p {
            font-size: 12px;
            font-weight: bold;
            background-color: var(--gray-light-color);

            padding: 2px 4px;
            display: inline-block;
            border-radius: 5px;
        }
    }
}

.line {
    border-top: 1px solid var(--gray-light-color);
    margin: 10px;
}

.box-individual,
.box-logout {
    p {
        color: var(--white-color);
        margin: 0 0 10px 10px;
        font-weight: bold;
    }
    > button {
        background-color: transparent !important;
        margin-left: 0 !important;
        color: var(--gray-light-color);
        width: 100%;
        border-radius: 0;
        padding: 15px 0 15px 10px;
        justify-content: flex-start;
        transition: all 0.1s ease-in-out;
        position: relative;

        &:hover {
            &:after {
                content: '';
                position: absolute;
                width: 2px;
                height: 100%;
                background: var(--blue-light-color);
                left: 0;
            }
            background-color: rgba(255, 255, 255, 0.1) !important;
            color: var(--white-color);
        }
    }
}

.box-logout {
    margin-bottom: 10px;
}
